.chart {
  flex: 4;
  padding: 0.5rem;
  padding-bottom: 1rem;
  overflow: hidden;
  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--grey-500);
    font-weight: 600;
    font-size: 1rem;
    text-transform: capitalize;
    user-select: none;
  }
  .chartGrid {
    stroke: var(--grey-100);
  }
}
