.singlePage {
  display: flex;
  width: 100%;
  padding: 1rem 1.5rem;
  .wrapper {
    flex: 6;
    .top {
      display: flex;
      gap: 4rem;
      .left {
        padding: 1rem;
        flex: 1;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-top-right-radius: 5px;
        .editButton {
          position: absolute;
          top: 0;
          right: 0;
          padding: 0.5rem;
          font-size: 1rem;
          font-weight: bold;
          letter-spacing: 1.2px;
          color: var(--grey-100);
          background-color: var(--primary-400);
          border-radius: 0 5px 0 5px;
          &:hover {
            color: var(--primary-400);
            background-color: var(--grey-100);
            transition: all 500ms ease;
          }
        }
        .title {
          color: var(--grey-500);
          font-weight: 600;
          font-size: 1.5rem;
          text-transform: capitalize;
          user-select: none;
          margin-bottom: 2rem;
        }
        .item {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          height: 100%;
          gap: 1rem;
          .itemImg {
            width: 100px;
            min-width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
          }
          .details {
            .itemTitle {
              margin-bottom: 0.5rem;
              color: var(--primary-500);
              font-size: 1.5rem;
            }
            .detailItem {
              display: grid;
              grid-template-columns: 1fr 2.5fr;
              grid-template-rows: 1fr;
              gap: 0px 18px;
              margin-bottom: 0.5rem;
              font-size: 1rem;
              gap: 1rem;
              .itemKey {
                font-weight: bold;
                color: var(--grey-500);
                text-align: end;
              }
              .itemValue {
                font-weight: 300;
                text-align: start;
              }
            }
          }
        }
      }
      .right {
        flex: 2;
      }
    }
    .bottom {
      margin: 4rem 0;
    }
  }
}
