// variables should follow the `$component-state-property-size` formula
:root {
  /* colors */
  --primary-50: #e0fcff;
  --primary-100: #bef8fd;
  --primary-200: #87eaf2;
  --primary-300: #54d1db;
  --primary-400: #38bec9;
  --primary-500: #2cb1bc;
  --primary-600: #14919b;
  --primary-700: #0e7c86;
  --primary-800: #0a6c74;
  --primary-900: #044e54;

  /* green */
  --green-50: #ecfef6;
  --green-100: #d8fdec;
  --green-200: #b2fada;
  --green-300: #8bf8c7;
  --green-400: #65f5b5;
  --green-500: #3ef3a2;
  --green-600: #38db92;
  --green-700: #2baa71;
  --green-800: #1f7a51;
  --green-900: #134931;

  /* orange */
  --orange-50: #feece5;
  --orange-100: #fed9cb;
  --orange-200: #fed0be;
  --orange-300: #fdc7b1;
  --orange-400: #fdbda4;
  --orange-500: #fdb497;
  --orange-600: #fcaa8a;
  --orange-700: #fca17d;
  --orange-800: #e39171;
  --orange-900: #ca8164;

  /* grey */
  --grey-50: #f0f4f8;
  --grey-100: #d9e2ec;
  --grey-200: #bcccdc;
  --grey-300: #9fb3c8;
  --grey-400: #829ab1;
  --grey-500: #627d98;
  --grey-600: #486581;
  --grey-700: #334e68;
  --grey-800: #243b53;
  --grey-900: #102a43;
  /* rest of the colors */
  --black: #222;
  --white: #fff;
  --red-light: #e45e69;
  --red-dark: #842029;
}
