$shadows: 2px 4px 10px 1px rgba(201, 201, 201, 0.45);

html {
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
  body {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1.4;
  }
}

.cardBoxShadow {
  @include box-shadow($shadows);
}
